*,
*::before,
*::after {
  box-sizing: border-box;
}
/* li, ul {
  
  border-bottom: 1px grey;
} */

h3,
h4,
h5 {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Raleway', sans-serif;
  text-align: left;
}

.tabs {
  padding: 100px 10px 50px 10px;
  font-size: 0;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.tabs > input[type='radio'] {
  display: none;
}

.tabs > div {
  /* скрыть контент по умолчанию */
  display: none;
  border: 1px solid #e0e0e0;

  font-size: 16px;
}

/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked ~ #tab-1,
#tab-btn-2:checked ~ #tab-2,
#tab-btn-3:checked ~ #tab-3 {
  display: flex;
}

.tabs > label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  /* background-color: #f5f5f5; */

  padding: 6px 85px;
  font-size: 14px;
  line-height: 1.5;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
  font-family: 'Open Sans';
  text-transform: uppercase;
  font-weight: 400;
}

.tabs > label:not(:first-of-type) {
  border-left: none;
}

.tabs > input[type='radio']:checked + label {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom: 1px solid #fff;
}

.tab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.tab__content {
  padding-top: 27px;
  max-width: 60%;
  padding-left: 100px;
}
.tab__title {
  font-size: 30px;
  font-weight: 700;
  font-family: 'Open Sans';
  line-height: 41px;
}

.tab__text {
  margin-top: 27px;
  font-size: 18px;
  font-weight: 400;
  font-family: 'Raleway';
  line-height: 21px;
  /* white-space: ; */
}

.tab__img {
  width: 35%;
}
.tab__img-inner {
  width: 100%;
  height: 100%;
}

.button {
  display: inline-block; /* строчно-блочный */
  padding: 15px 100px; /*  расстояние от текста до края кнопки */
  background-color: #ec7979; /* цвет кнопки */
  /* box-shadow: 0px 6px #f7f8e8; задана тень */
  /* border-radius: 5px; скругление углов */
  font-size: 18px; /* размер шрифта */
  /* text-transform: uppercase; трансформировать в заглавные буквы */
  text-decoration: none; /* не подчеркивать ссылку */
  /* transition: 0.2s; плавный ховер эффект */
  color: white; /* цвет текста на кнопке */
  margin-top: 10px;
}
.adventures {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.adventures__info {
  display: flex;
  max-width: 1170px;
  font-family: 'Open Sans', sans-serif;
}
.block__img {
  text-align: center;
  width: 184px;
  height: 184px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.info__block {
  padding: 0 30px 0 30px;
}
.block__title {
  line-height: 33px;
  font-size: 24px;
  font-weight: 700;

  text-align: center;
}
.block__subtitle {
  margin-top: 10px;
  line-height: 21px;
  font-size: 18px;
  font-family: 'Raleway';
  text-align: center;
}

.options {
  width: 100%;
  /* max-width: 1170px; */
  padding: 50px 15px 50px 15px;
  margin: 0 auto;
  background-color: #f5f5f5;
}
.logo__title {
  padding: 100px 0;
  font-family: 'Raleway';
  height: 150px;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.logo__title:after {
  content: '';
  display: block;
  width: 170px;
  height: 2px;
  margin: 50px auto 0;
  background-color: orange;
}
.logo__text {
  margin-top: 50px;
  margin-bottom: 80px;
  color: grey;

  height: 21px;
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
.options__row {
  transition: all 0.15s linear;

  width: 31%;
}
.options__row:hover {
  transform: translateY(-20px);
  box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
}
.options__column {
  flex: 0 1 33.333333%;
}
.options__items {
  background-color: #333;
  color: white;
}
.options__lable {
  padding: 30px 0;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}
.options__cost {
  padding: 50px 0;
  font-family: 'Raleway';
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
}
.options__title {
  padding: 25px 0;
  font-family: 'Raleway';
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
}
.options__list {
  background-color: white;
}
.options__list-item {
  text-transform: capitalize;
  color: #86878b;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border-bottom: 1px solid #f5f5f5;
}
